<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>BMSOM Room Reservation System Password</h1>
        <p>
          <%= @user.first_name + " " + @user.last_name %>, please click the link in order to
          recover your password to <strong>bmsom123</strong>

          <% hash = BCrypt::Password.create(SecureRandom.urlsafe_base64) %>
          <% PasswordRecoveryToken.create(:user_id => @user.id, :recovery_token => hash) %>
          <%= link_to(  "Link",
                         {:host => 'localhost:3000',
                         :controller => 'login',
                         :action => 'confirm_link',
                         :recovery_token => hash,
                         :locale => 'en'} ) %>
        </p>
    </body>
</html>