<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-primary radius">
      <div class="panel-heading">
        <h1 class="panel-title">Panel title</h1>
      </div>
      <div class="panel-body">
        Panel content <br />
        <a class="btn btn-primary btn-lg radius"> Learn more</span> </a>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

