<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-primary radius">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t "edit_room.title" %>:</h1>
      </div>
      <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <%= render(:partial => 'shared/notifications') %>
          <%= render(:partial => 'form') %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

